<div class="portlet_content">
  <%= error_messages_for :route %>
  <%# FIXME añadir live validation http://github.com/leethal/live-validations/tree/master %>
  <% form_for(route,  :url => url,
    :html => {:id => "new_route", :style => "border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 5px 0px 5px 0px; margin: 5px 0px 5px 0px;",
      :method => method }) do |f| -%>
    <fieldset>
      <legend>Content</legend>
      <div class="fields">
        <p>
          <%= f.label :title, '(*) ' + I18n.t("models.route.title") + ':'%>
          <%= f.text_field :title, :class=>"fieldbox wide" %>
        </p>
        <p>
          <%= f.label :description, '(*) ' + I18n.t("models.route.description") + ':' %>
          <%= f.text_area :description, :cols => 50, :rows => 5, :class=>"fieldbox wide" %>
        </p>
      </div>
    </fieldset>
    <fieldset>
      <legend>Metadata</legend>
      <div class="fields">
        <p>
          <%= f.label :tag_list, [I18n.t("models.route.tags"),I18n.t("interface.routes.forms.separated_with")].join(' ') %>
          <%= f.text_field :tag_list, :class=>"fieldbox wide" -%>
        </p>
      </div>
    </fieldset>
    <div class="fields">
      <p><%= I18n.t("interface.routes.forms.required_fields") %></p>
    </div>
    <%= f.hidden_field :lat, :value => route.lat %>
    <%= f.hidden_field :lng, :value => route.lng %>
    <%= f.hidden_field :encoded_points, :value => route.encoded_points %>
    <%= f.hidden_field :distance, :value => route.distance %>
    <%= f.hidden_field :distance_unit, :value => route.distance_unit %>
    <%= f.hidden_field :loops, :value => route.loops %>

    <div class="actions"><%= submit_tag submit_text, {:class => 'button mainaction' , :accesskey => "s"} %></div>
  <% end -%>
</div>
