<% content_for :sidebar do %>
  <%#= render_ajax_messages %>
  <div class="portletE" style="margin-top: 75px;">
    <h2><%= "Edit Route" %></h2>
    <%= render :partial => "form", :locals => { :route => @route,
      :method => "put", :url => member_route_path(@route), :submit_text => "Update Route",
    :route_encoded_points => @route.encoded_vertices} %>
  </div>
<% end %>

<%= include_google_javascript %>
<%= javascript_include_tag "route" %>
<%= init_map_form %>

<div class="titleB">Edit route</div>

<%= render :partial => "shared/map" %>