<% route ||= @route #locals %>

<% content_for :sidebar do %>
  <%# TODO= render_ajax_messages %>
  <div class="portletE" style="margin-top: 75px;">
    <h2><%= "Create New Route" %></h2>
    <%= render :partial => "form", :locals => { :route => @route, :method => "post",
      :url => member_routes_path, :submit_text => "Create Route",
      :route_encoded_points => ""} %>
  </div>
<% end %>

<%= include_google_javascript %>
<%= javascript_include_tag "route" %>
<%= init_map_form %>

<div class="titleB">Create route</div>

<%= render :partial => "shared/map" %>


