<li class="clearfix<%= cycle(nil, " pair") %>" id="comment_<%= comment.id %>">
  <% if comment.user -%>
    <div class="image"><%= link_to icon_for_profile(comment.user.profile, 'tiny'), profile_path(comment.user.profile) %></div>
    <div class="text">
      <strong><%= link_to you_or_user_login(comment.user), profile_path(comment.user.profile) %> <%= I18n.t("tog_core.site.comment.says")%>:</strong><br />
      <span class="helpinfo"><%= time_ago_in_words comment.created_at %> ago...<%= link_to I18n.t("tog_core.site.comment.permalink"), "#comment_#{comment.id}" %></span>
    </div>
  <% else -%>
    <div class="text">
      <strong><%= comment_user_name(comment) %> <%= I18n.t("tog_core.site.comment.says")%>:</strong><br />
      <span class="helpinfo">about <%= time_ago_in_words comment.created_at %> ago...<%= link_to I18n.t("tog_core.site.comment.permalink"), "#comment_#{comment.id}" %></span>
    </div>
  <% end -%>
  <%= sanitize(textilize(comment.comment), :tags => (Tog::Plugins.settings :tog_core, 'sanitized.comments.allowed_tags').split, :attributes => (Tog::Plugins.settings :tog_core, 'sanitized.comments.allowed_attributes').split) %>
</li>
