<% form_for :comment, :url => comment_path do |f| -%>
  <%= f.hidden_field :commentable_type, {:value => commentable.class.name} -%>
  <%= f.hidden_field :commentable_id, {:value => commentable.id} -%>
  <% unless logged_in? -%>
    <label for="comment_name">Name</label>
    <%= f.text_field :name, :class=>"fieldbox wide" %>
    <br/>
    <label for="comment_email">Email</label>
    <%= f.text_field :email, :class=>"fieldbox wide" %>
    <br/>
    <label for="comment_url">Website</label>
    <%= f.text_field :url, :class=>"fieldbox wide" %>
    <label for="comment_comment">Comment</label>
  <% end -%>

  <%= f.text_area :comment, {:rows=>6, :cols=>50, :class=>"editor wide fieldbox"} -%>
  <br/>
  <%= submit_tag 'Post comment', {:accesskey => "s", :class=>"button mainaction"} %>
<% end %>
