<h1>Editing waypoint</h1>

<% form_for(@waypoint) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :lat %><br />
    <%= f.text_field :lat %>
  </p>
  <p>
    <%= f.label :lng %><br />
    <%= f.text_field :lng %>
  </p>
  <p>
    <%= f.label :alt %><br />
    <%= f.text_field :alt %>
  </p>
  <p>
    <%= f.label :locatable %><br />
    <%= f.text_field :locatable %>
  </p>
  <p>
    <%= f.label :position %><br />
    <%= f.text_field :position %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @waypoint %> |
<%= link_to 'Back', waypoints_path %>
