<% include_javascript "scriptaculous" %>
<% include_javascript "starbox" %>
<% include_stylesheet "starbox" %>
<%# include_stylesheet "ajaxful_rating" %>

<div class="portlet portletB" id="#{id_route_list}">
  <h2><span><%= routes_title ||= "Routes" %></span></h2>
  <% if routes.empty? -%>
    <div class="detail detail1">
      <div class="text">
        <p>There isn't any routes yet</p>
      </div>
    </div>
  <% else -%>
    <%= render :partial => route_partial, :collection => routes %>
  <% end -%>

  <% if !routes.empty? %>
    <div class="info_results">
      <span class="info_items">
        Routes <%=routes.size > 0 ? (routes.offset + 1) : '0'%> to
        <%=routes.size + routes.offset%> of <%=routes.total_entries%>
      </span>
      <span class="pages_navigation right">
        <%= will_paginate routes %>
      </span>
    </div>
  <%end%>
</div>

<script type="text/javascript">
  //<![CDATA[
<% routes.each do |route| -%>
  <%= "new Starbox('rating_total_#{route.id}', #{route.total_rate_average}, { className: 'dotted', stars: 5, buttons: 25, locked: true });" %>
<% end -%>
  //]]>
</script>