<% content_for :sidebar do %>
  <p><%= link_to 'Create new route', new_member_route_path,  {:class => "button add", :title => "Create a new route"} if logged_in? %></p>

  <%= render :partial => "search_one_click" %>
  <%= render :partial => "search_form" %>

  <%= render :partial => 'tag_cloud_routes' %>
<% end %>

<%= render :partial => "routes", :object => @routes, 
  :locals => {:routes_title => @routes_title, :id_route_list => "route_list",
  :route_partial => "route"} %>
