<% content_for :sidebar do %>
  <%=  link_to image_tag('/tog_core/images/ico/rss.gif', :alt => 'sindicate'), route_url(@route, :format => :atom), :class => 'rss'%>
  <br/><br/>
  <%= render :partial => 'tag_cloud_single_route', :locals => { :route => @route } %>
  <br/>
  <%= render_ajax_messages %>

  <%  if logged_in? && @route.owner != current_user -%>
    <%= render :partial => "shared/favorite_box", :locals => {:favoriteable => @route, :favorite => @favorite} %>
  <% end -%>

  <li><%= link_to image_tag("small_icon_enlarge.png", :alt => "Enlarge map") + "Enlarge map", big_route_path(@route) %>

  <br/>
  <%= render :partial => "shared/owner_box", :locals => {:owner => @route.owner} %>
  <%= render :partial => "routes/starrate", :locals => {:rated => @route} %>
  <%= render :partial => "shared/comments", :locals => {:commentable => @route} %>
  <br />
  <%= render :partial => "shared/favorite_of", :locals => {:favoriteable => @route} %>
<% end %>

<% include_autodiscovery(:atom, route_url(@route, :format => :atom), :name => @route.title) %>

<%= render :partial => "map_show", :locals => {:route => @route, :width => 600, :heigth => 400} %>

<%# TODO routes near %>
<!--
<div class="portlet portletB">
  <h2><span>Near Routes</span></h2>
  <div class="portlet_content">
    <ul>
      <%# @routes_near.each do |route| -%>
        <li>
          <div class="title" style="padding-top:5px">
            <%#= link_to "#{sanitize textilize_without_paragraph(route.name)}",
              route_path(route), :title => "#{sanitize(route.name)}" %>
          </div>
          <div class="summary">
            Proximity from init point: <%#= number_with_precision(route.proximity, :precision => 3) %> kms<br/>
          </div>
        </li>
      <%# end -%>
    </ul>
  </div>
</div>
-->
