<% content_for :sidebar do %>
  <%=  link_to image_tag('/tog_core/images/ico/rss.gif', :alt => 'sindicate'), formatted_route_url(@route, :atom), :class => 'rss'%>
  <br/><br/>
  <%= render :partial => 'tag_cloud_single_route', :locals => { :route => @route } %>
  <br/>
  <%= render_ajax_messages %>

  <%  if logged_in? && @route.owner != current_user -%>
    <%= render :partial => "shared/favorite_box", :locals => {:favoriteable => @route, :favorite => @favorite} %>
  <% end -%>

  <li><%= link_to image_tag("small_icon_enlarge.png", :alt => "Enlarge map") + "Enlarge map", big_route_path(@route) %>

  <br/>
  <%= render :partial => "shared/owner_box", :locals => {:owner => @route.owner} %>
  <%#= render :partial => "routes/starrate", :locals => {:rated => @route} %>
  <%= render :partial => "shared/comments", :locals => {:commentable => @route} %>
  <br />
  <%= render :partial => "shared/favorite_of", :locals => {:favoriteable => @route} %>
<% end %>

<% include_autodiscovery(:atom, formatted_route_url(@route, :atom), :name => @route.title) %>

<%# TODO route maps %>
<%#= Mapstraction.header(:google) %>
<%# show_route @route %>
<%#= @map.to_html %>

<%# TODO eschaton maps %>
<%= include_google_javascript %>
<%= init_map_for @route %><!-- Equivalente al show_route -->

<h2><span><%= @route.title -%></span></h2>
<div id="format_links">
  <%= link_to "View in Google Earth", formatted_route_path(:format => :kml) %>
  <%= link_to "View as GPX", formatted_route_path(:format => :gpx) %>
  <%= link_to "View as CRS", formatted_route_path(:format => :crs) %>
</div>

<%#= @map.div(:width => 600, :height => 400) %>
<%= google_map :width => 600, :height => 400, :style => 'border: 1px dashed black; margin: 10px' %>

<div class="detail detail1">
  <div class="text"><%= sanitize textilize(@route.description) %></div>
  <div class="summary">
    Distance: <%= number_with_precision(@route.distance, :precision => 3) %> kms<br/>
    Coordinates: <%= @route.waypoints.size %><br/>
    More info TODO<br/>
  </div>
</div> <!-- /.detail1 -->

<%# TODO routes near %>
<!--
<div class="portlet portletB">
  <h2><span>Near Routes</span></h2>
  <div class="portlet_content">
    <ul>
      <%# @routes_near.each do |route| -%>
        <li>
          <div class="title" style="padding-top:5px">
            <%#= link_to "#{sanitize textilize_without_paragraph(route.name)}",
              route_path(route), :title => "#{sanitize(route.name)}" %>
          </div>
          <div class="summary">
            Proximity from init point: <%#= number_with_precision(route.proximity, :precision => 3) %> kms<br/>
          </div>
        </li>
      <%# end -%>
    </ul>
  </div>
</div>
-->
